version: '3.1'
services:
  nacos:
    image: nacos/nacos-server:latest
    container_name: nacos
    network_mode: host
    ports:
      - 8848:8848
    environment:
      - MODE=standalone #启动模式是独立模式
    volumes:
      - ./custom.properties:/home/nacos/init.d/custom.properties
