version: '3.5'

services:
  nacos:
    image: nacos/nacos-server:v2.0.4-slim
    container_name: nacos
    # network_mode: host
    ports:
      - 8848:8848
      - 9848:9848
    environment:
      - MODE=standalone #启动模式是独立模式
    #volumes:
     # - ./custom.properties:/home/nacos/init.d/custom.properties
